
:root {
    --black: #252523;
    --yellow: #ffc400;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

header {
    display: flex;
    background: var(--black);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100vw;
    max-height: 10vh;
}

header .logo img {
    width: 90%
}

header .logo {
    display: grid;
    height: 100%;
    max-width: 80px;
    place-items: center;
}

.nav {
    display: flex
}

#header-icon {
    margin: 0 1rem
}

header nav {
    z-index: 1;
    overflow: hidden;
    display: flex;
    width: 0;
    left: 0;
    top: 0;
    position: fixed;
    background: var(--black);
    height: 100vh;
    align-items: center;
    transform-origin: left;
    transition: 1s ease;
}

.more-width {
    width: 50%;
}

nav ul {
    list-style: none;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

nav ul li {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

nav ul li div{
    width: 100%;
}

nav ul li div img{
    width: 100%;
}

.x-menu {
    width: 20%;
}


nav ul a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: .3rem;
    font-size: 1.2rem;
}

@media screen and (min-width: 887px) {
    header {
        position: fixed;
        max-height: none;
        flex-wrap: wrap;
    }
    
    header .logo {
        max-width: 120px; 
    }

    header .logo img {
        width: 100%
    }
    
    #header-icon {
        display: none
    }
    
    header nav {
        margin: 0 2rem;
        z-index: 0;
        overflow: auto;
        display: flex;
        width: auto;
        left: auto;
        top: auto;
        position: static;
        background: transparent;
        height: 100%;
        /*align-items: center;
        transform-origin: left;*/
        transition: 0s;
    }
    
    .more-width {
        width: auto;
    }
    
    nav ul {
        list-style: none;
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        flex-wrap: wrap;
    }

    nav ul li:first-of-type {
        display: none;
    }   
    
    nav ul li {
        border-bottom: 0;
        border-top: 0;
    }
    
    nav ul li div{
        width: 100%;
    }
    
    .x-menu {
        display: none
    }
    
    nav ul a {
        display: flex;
        padding: 1rem 2rem;
    }
}

main {
    display: flex;
    flex-direction: column;
    background: #3a3a38
}

main section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
}

main section:nth-of-type(1){
    background: #3a3a38 url(./assets/bg-drinks.jpg) no-repeat center;
    background-size: cover;
}

main section:nth-of-type(2){
    background: #3a3a38 url(./assets/bg-drinks2.jpg) no-repeat center;
    background-size: cover;
}

main section h1{
    text-align: center;
    font-size: 4rem;
    color: var(--yellow);
    text-shadow: 5px 5px 2px rgba(0,0,0,0.55);
    letter-spacing: .8rem;
}

.head-section {
    display: flex;
    min-height: 20vh;
    align-items: last baseline;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container-events {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background: white;
    background: transparent;
    margin: 2rem 0;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    box-shadow: 0px 0px 36px 7px rgba(0,0,0,0.75);
}

.container-events .div-buttons{
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.container-events .div-buttons button{
    transition: .2s;
    padding: 1rem 2rem;
    border: none;
    background: rgba(255, 255, 255, 0.349);
    border-radius: 1rem;
    border: 2px solid transparent;
    backdrop-filter: sepia(90%);
    font-size: 1.2rem;
    font-weight: bolder;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.75);
}

.container-events .div-buttons button:hover{
    background: rgba(255, 255, 255, 0.61);
    cursor: pointer;
    border: 2px solid white;
    box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.75);
}

.container-events .scroll-slides {
    display: flex;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
    border-bottom: 1px solid rgba(243, 243, 243, 0.164);
    border-top: 1px solid rgba(243, 243, 243, 0.164);
    padding: 1rem 0;
    box-shadow:  11px 11px 34px #2e2e2e
}

.container-events .container-slides {
    margin: 0 auto;
    display: flex;
    width: 100%;
    gap: 2rem;
    transition: .5s;
}

.container-events .container-slides div {
    min-width: 100vw;
    min-height: 235px;
    padding: 1rem;
    background: transparent;
    color: white;
    border-top: 2px solid rgba(218, 218, 218, 0.459);
    border-bottom: 2px solid rgba(218, 218, 218, 0.459);
}

.container-events .container-slides div img{
    width: 100%;
    filter: drop-shadow(5px 5px 5px #1b1b1bbd);
}  

.container-drinks {
    min-height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    margin: 2rem 0;
}

.container-drinks .card {
    display: flex;
    flex-direction: column;
    padding: 1rem .5rem;
    background: rgba(107, 90, 59, 0.342);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.548);
    border-top: 1px solid rgba(255, 255, 255, 0.548);
    transition: height .5s ease;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.75);
}

.container-drinks .card .img {
    width: 30%
}

.container-drinks .card .img img {
    width: 100%
}

.container-drinks .card .name {
    color: rgb(255, 196, 0);
    text-shadow: 3px 3px 1px rgba(0,0,0,0.55);
    letter-spacing: .2rem;
    font-weight: bolder;
    font-size: 2rem;
    display: flex;
    height: 100%;
    align-items: center;
}

.container-drinks .card .container-1{
    display: flex;
}

.container-drinks .card .name:hover {
    cursor: pointer;
}

.container-drinks .card .name span {
    margin: 1rem;
}

@keyframes heighting {
    from {
        transform: scaleY(0)
    }
    to {
        transform: scaleY(1)
    }
}

.container-drinks .card .desc {

    border-top: 1px solid white;
    padding: 1rem .5rem;
    animation: heighting .5s ease;
    transform-origin: top;
}

.container-drinks .card .desc .container-desc{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white
}

.container-drinks .card .desc .container-desc div{ 
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
}

.container-drinks .card .desc .container-desc div:nth-child(1){
    margin: 0 auto;
    border: 1px solid white;
    padding: .5rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.75);
}

.container-drinks .card .desc .container-desc div:nth-child(3){
    font-style: italic;
}

@media screen and (min-width: 480px) {
    html {
        max-width: none;
        overflow-x: auto;
    }
    main {
        display: flex;
        flex-direction: row;
        background: #3a3a38 url(./assets/bg-drinks.jpg) no-repeat center;
        background-size: cover;
        justify-content: space-between;
    }
    
    main section {
        width: 50%;
        background: transparent;
    }
    
    main section:nth-of-type(1){
        background: transparent;
    }
    
    main section:nth-of-type(2){
        background: transparent;
    }
    
    .head-section {
        min-height: 0;
    } 
    
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        max-height: 100vh
    }
    
    .container-events {
        width: 50%;
        height: auto;
        margin: 1rem auto;
    }
    
    .container-events .div-buttons{
        justify-content: space-between;
        width: 100%;
        gap: 0;
    }
    
    .container-events .container-slides div {
        min-width: 100%;
    }

    .container-drinks {
        min-height: auto;
        margin: 1rem auto;
    }
    
    .container-drinks .card .img {
        max-width: 250px
    }
}

footer {
    background-color: var(--black); 
    padding: 1rem 0 0;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-footer {
    background-color: rgb(51, 51, 51);
    padding: 1rem;
    text-align: right;
}

.footer-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    max-width: 70%;
    margin: 0 auto;
    padding: 1rem
}

.container-footer h2{
    text-align: center;
}

.container-footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container-footer a {
    color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 125%;
    text-decoration: none;
    border-radius: 1rem;
    transition: .5s;
}

.container-footer a:hover {
    scale: 1.1;
    color: black;
    background: white
}

.address iframe {
    height: 100%;
}

.address a {
    padding: .5rem;
}

.social a svg {
    min-width: 50px;
}

.social {
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.social:nth-of-type(1) {
    background: #228322;
}

.social:nth-of-type(2) {
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%)
}

.social:nth-of-type(3) {
    background: #5b5bec;
}

.citacoes p {
    font-style: italic;
    font-size: 110%;
}

@media screen and (max-width: 480px) {
    .footer-content{
        max-width: 100%;
        padding: 1rem
    }
}

.sobre {
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 11vh 0 1vh;
    gap: 1rem
}

.sobre .container-sobre {
    width: 90%;
    border: 4px dashed var(--yellow);
    border-radius: 10px;
    padding: 1rem;
}

.sobre h2 {
    color: var(--yellow);
    font-size: 200%;
    margin: 1rem 0;
    text-align: center;
    text-shadow: 3px 3px 2px rgba(0,0,0,0.55);
}

.sobre ul {
    list-style: none;
}

.sobre ul li div:nth-of-type(1){
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 1rem;
    color: rgb(199, 199, 199);
    text-shadow: 3px 3px 2px rgba(0,0,0,0.55);
}

.sobre ul li {
    border-bottom: 4px dashed var(--yellow)
}

.sobre ul li div:nth-of-type(1) div{
    flex-direction: row;
    justify-content: center;
}
.sobre p {
    color: rgb(209, 209, 209);
    text-align: justify;
    margin: .5rem 0;
}

.sobre ul li div:nth-of-type(1) h3 {
    margin: 1rem 0 .5rem;
    text-align: center;
}

.sobre ul li div:nth-of-type(1) img {
    width: 20%;
}


.img-visao {
    display: flex;
    justify-content: center;
}

.img-visao img{
    width: 20%
}

@media screen and (min-width: 480px) {
    .sobre {
        display: grid;
        place-items: center;
        grid-template-areas: 
        "a a c"
        "a a c"
        "e e b"
        "e e d";
        padding: 0;
        gap: 1rem;
        background:#3a3a38;
    }
    
    .sobre .container-sobre {
        width: 100%;
        height: 100%
    }

    .missao {
        grid-area: a;
    }

    .visao {
        grid-area: c;
    }

    .sobre-nos {
        grid-area: b;
    }

    .obs {
        grid-area: d;
    }

    .valores {
        grid-area: e;
    }

    .sobre ul {
        display: flex;
        gap: 1rem
    }
    .sobre ul li {
        border-bottom: 0px
    }

    .sobre ul li:nth-of-type(2) {
        padding: 0 1rem;
        border-right: 4px dashed var(--yellow);
        border-left: 4px dashed var(--yellow)
    }
}
