
:root {
    --black: #252523;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

header {
    display: flex;
    background: var(--black);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100vw;
    min-height: 10vh;
    max-height: 10vh;
}

header .logo img {
    width: 90%
}

header .logo {
    display: grid;
    height: 100%;
    max-width: 80px;
    place-items: center;
}

.nav {
    display: flex
}

#header-icon {
    margin: 0 1rem
}

header nav {
    z-index: 1;
    overflow: hidden;
    display: flex;
    width: 0;
    left: 0;
    top: 0;
    position: fixed;
    background: var(--black);
    height: 100vh;
    align-items: center;
    transform-origin: left;
    transition: 1s ease;
}

.more-width {
    width: 50%;
}

nav ul {
    list-style: none;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

nav ul li {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

nav ul li div{
    width: 100%;
}

nav ul li div img{
    width: 100%;
}

.x-menu {
    width: 20%;
}


nav ul a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: .3rem;
    font-size: 1.2rem;
}

main {
    display: flex;
    flex-direction: column;
    background: #3a3a38
}

main section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
}

main section:nth-of-type(1){
    background: #3a3a38 url(./assets/bg-drinks.jpg) no-repeat center;
    background-size: cover;
}

main section:nth-of-type(2){
    background: #3a3a38 url(./assets/bg-drinks2.jpg) no-repeat center;
    background-size: cover;
}

main section h1{
    text-align: center;
    font-size: 4rem;
    color: rgb(255, 196, 0);
    text-shadow: 5px 5px 2px rgba(0,0,0,0.55);
    letter-spacing: .8rem;
}

.events {
    display: flex;
    min-height: 20vh;
    max-height: 20vh;
    align-items: last baseline;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%
}

.container-events {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background: white;
    background: transparent;
    margin: 2rem 0;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    box-shadow: 0px 0px 36px 7px rgba(0,0,0,0.75);
}

.container-events .div-buttons{
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.container-events .div-buttons button{
    transition: .2s;
    padding: 1rem 2rem;
    border: none;
    background: rgba(255, 255, 255, 0.349);
    border-radius: 1rem;
    border: 2px solid transparent;
    backdrop-filter: sepia(90%);
    font-size: 1.2rem;
    font-weight: bolder;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.75);
}

.container-events .div-buttons button:hover{
    background: rgba(255, 255, 255, 0.61);
    cursor: pointer;
    border: 2px solid white;
    box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.75);
}

.container-events .scroll-slides {
    display: flex;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
    border-bottom: 1px solid rgba(243, 243, 243, 0.164);
    border-top: 1px solid rgba(243, 243, 243, 0.164);
    padding: 1rem 0;
    box-shadow:  11px 11px 34px #2e2e2e
}

.container-events .container-slides {
    margin: 0 auto;
    display: flex;
    width: 100%;
    gap: 2rem;
    transition: .5s;
}

.container-events .container-slides div {
    min-width: 100vw;
    min-height: 235px;
    padding: 1rem;
    background: transparent;
    color: white;
    border-top: 2px solid rgba(218, 218, 218, 0.459);
    border-bottom: 2px solid rgba(218, 218, 218, 0.459);
}

.container-events .container-slides div img{
    width: 100%;
    filter: drop-shadow(5px 5px 5px #1b1b1bbd);
}  

.container-drinks {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container-drinks .card {
    display: flex;
    padding: 1rem .5rem;
    background: rgba(255, 199, 95, 0.144);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.548);
    border-top: 1px solid rgba(255, 255, 255, 0.548);
}

.container-drinks .card .img {
    width: 30%
}

.container-drinks .card .img img {
    width: 100%
}

.container-drinks .card .name {
    color: rgb(255, 196, 0);
    text-shadow: 3px 3px 1px rgba(0,0,0,0.55);
    letter-spacing: .2rem;
    font-weight: bolder;
    font-size: 2rem;
    display: flex;
    height: 100%;
    align-items: center
}

.container-drinks .card .name:hover {
    cursor: pointer;
}

.container-drinks .card .name span {
    margin: 1rem;
}

.container-drinks .card .desc {
    display: none;
}


footer {
    background-color: var(--black); 
    padding: 1rem;
    text-align: center;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-content {
    display: flex;
    gap: .5rem;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.contact-info {
    text-align: left;
}

.social-links {
    text-align: right;
}


footer a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

#end{
    text-decoration: underline;
}